---
interface Props {
  title: string;
}

const { title } = Astro.props;
import Navigation from "@/components/shared/Navigation.astro";
import CTA from "@/components/home/CTA.astro";
import Footer from "@/components/shared/Footer.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="DeepFunding - A Modern Web Application" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@700&family=Offside&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-[#333]">
    <div class="min-h-screen flex flex-col">
      <Navigation />

      <main class="flex-1">
        <slot />
      </main>

      <CTA />

      <Footer />
    </div>
  </body>

  <style is:global>
    @import "../styles/global.css";
  </style>
</html>
