<section class="footer">
  <div class="flex w-row gap-4">
    <div class="w-col w-col-4">
      <a
        href="https://x.com/deep_funding"
        target="_blank"
        class="inline-block mr-4"
      >
        <img
          src="https://cdn.prod.website-files.com/679d72e9350c00c3788f7c0c/67aa0245a578dfe36e9f046a_X%20Logo%202023%20(1)%201.svg"
          loading="lazy"
          width="50"
          alt=""
        />
      </a>
      <a
        href="https://github.com/deepfunding/"
        target="_blank"
        class="inline-block mr-4"
      >
        <img
          src="https://cdn.prod.website-files.com/679d72e9350c00c3788f7c0c/67aa02450bef0ec3a4522310_github-mark%201.svg"
          loading="lazy"
          width="50"
          alt=""
        />
      </a>
    </div>
    <div class="flex items-center justify-center w-col w-col-4">
      <img
        src="https://cdn.prod.website-files.com/679d72e9350c00c3788f7c0c/679d793b1ddd57cbaae8a1eb_ssfAsset%203.svg"
        loading="lazy"
        width="150"
        alt=""
        class="image"
      />
    </div>
    <div class="flex w-col-4">
      <a href="https://www.aura.supply" target="_blank" class="w-inline-block">
        <div class="text-white">Built on webflow by aura.supply</div>
      </a>
    </div>
  </div>
</section>

<style>
  .footer {
    background-image: linear-gradient(#333, #333);
    border-bottom: 1px #e4ebf3;
    padding: 40px 30px;
    position: relative;
  }
  .w-col-4 {
    width: 33.3333%;
  }

  .column-2 {
    justify-content: flex-end;
    align-items: flex-end;
    display: flex;
  }
</style>
