<section id="challenge" class="challenge">
  <div class="section-container flex flex-col md:flex-row">
    <section class="section-2">
      <h1 class="challenge-centered-heading">THE DEEP FUNDING CHALLENGE</h1>
      <div class="rich-text-block-2">
        <h5 class="heading-6">
          Give weights to source repos such that their summation to the target
          repo = 1
        </h5>
        <p>‍</p>
        <p class="paragraph-3">
          <strong class="font-bold"
            >End Goal: Submit 15,000 weights to the Ethereum dependency graph</strong
          ><br />
        </p>
      </div>
    </section>

    <div class="flex-1">
      <div class="challengegrid">
        <div class="pricing-card-three">
          <section class="section-3">
            <h3 class="challenge-header">Level 1:&nbsp;Fund the Farm</h3>
          </section>
          <p class="challenge-text"><strong>S</strong>eed Node vs Seed Node</p>
          <p class="challenge-text">
            Develop an allocator model assigning weights to 34 source repos
            (seed nodes) with the target repo of Ethereum<br />
          </p>
        </div>

        <div class="pricing-card-three">
          <section class="section-3">
            <h3 class="challenge-header">Level 2:&nbsp;Farm to Forest</h3>
          </section>
          <p class="challenge-text">Seed Node vs Child Node</p>
          <p class="challenge-text">
            Develop an allocator model determining the portion of funds staying
            with seed nodes vs passed on to dependencies<br />
          </p>
        </div>

        <div class="pricing-card-three">
          <section class="section-3">
            <h3 class="challenge-header">Level 3: Fund the Forest</h3>
          </section>
          <p class="challenge-text">Child Node vs Child Node</p>
          <p class="challenge-text">
            Develop an allocator model assigning weights to over 5000
            dependencies (child nodes) with the target repo of 34 seed nodes<br
            />
          </p>
        </div>
      </div>

      <h1 class="submissionsheadings">Submissions: Feb 10 - May 10, 2025</h1>
      <div class="text-block-3">
        All jury selection is by nomination, invitation or application only. See
        the list of jurors <a
          href="https://research.allo.capital/t/join-the-deep-funding-jury/99"
          class="link-20">here</a
        >.
      </div>
    </div>
  </div>
</section>
