---
import CollaboratorCard from "@/components/shared/CollaboratorCard.astro";

const collaborators = [
  {
    imageUrl: "/images/collaborators/voicedeck.svg",
    role: "Storyteller",
    name: "Voicedeck",
    url: "https://app.voicedeck.org/reports",
  },
  {
    imageUrl: "/images/collaborators/opensource-observer.svg",
    role: "Wizard",
    name: "Open Source Observer",
    url: "https://www.opensource.observer/",
  },
  {
    imageUrl: "/images/collaborators/pairwise.svg",
    role: "Referee",
    name: "Pairwise",
    url: "https://www.pairwise.vote/",
  },
  {
    imageUrl: "/images/collaborators/pollen-labs.svg",
    role: "Accelerator",
    name: "Pollen Labs",
    url: "https://pollenlabs.org/",
  },
  {
    imageUrl: "/images/collaborators/drips.svg",
    role: "Sprinkler",
    name: "Drips",
    url: "https://www.drips.network/",
  },
  {
    imageUrl: "/images/collaborators/eval-science.svg",
    role: "Coach",
    name: "Eval Science",
    url: "https://www.eval.science/",
  },
  {
    imageUrl: "/images/collaborators/pond.svg",
    role: "Host",
    name: "Pond",
    url: "https://cryptopond.xyz/",
  },
  {
    imageUrl: "/images/collaborators/allo-capital.svg",
    role: "Weaver",
    name: "Allo Capital",
    url: "https://allo.capital/",
  },
  {
    imageUrl: "/images/collaborators/ethereum-foundation.svg",
    role: "Gardener",
    name: "Ethereum Foundation",
    url: "https://ethereum.foundation/",
  },
];
---

<section class="py-20 bg-cream">
  <div class="mx-auto px-4 md:px-0 max-w-[940px]">
    <h2
      class="font-stencil text-[64px] leading-[72px] text-left font-bold mb-12"
    >
      COLLABORATORS
    </h2>
    <div class="w-full grid grid-cols-1 md:grid-cols-3 gap-8 relative">
      {
        collaborators.map((item) => (
          <CollaboratorCard
            imageUrl={item.imageUrl}
            role={item.role}
            name={item.name}
            url={item.url}
          />
        ))
      }
    </div>
  </div>
</section>
