<section class="comparison">
  <div class="container-2">
    <img
      src="https://cdn.prod.website-files.com/679d72e9350c00c3788f7c0c/67aa3edadff2ce8885452263_deepfuning-graphic.svg"
      loading="lazy"
      alt="Deep funding comparison graphic"
      class="w-full"
    />
  </div>
  <div class="rich-text-block">
    <p class="paragraph">
      Deep dive with '<a href="/resources" class="link-10">Resources</a>' &amp; <a
        href="/faq"
        class="link-11">FAQs</a
      >!
    </p>
  </div>
</section>

