<section class="feature-image">
  <div class="container-3">
    <div class="feature-image-2">
      <img
        src="https://cdn.prod.website-files.com/679d72e9350c00c3788f7c0c/67aa1725a9eab3e972adbfb1_eiigj.svg"
        loading="lazy"
        alt=""
        class="feature-img"
      />
      <div class="featureimagetext w-richtext">
        <p class="heading-6">
          The task of submitters is to give edge weights such that
        </p>
        <p class="heading-6">
          A + B + C + D = 1 {"{"} Level 1: fund the farm {"}"}
        </p>
        <h5 class="heading-6">
          B vs {"{"} B1,B2,B3,B4,B5,B6 {"}"}
          <strong class="orangetext">{"{"} Level 2: farm to forest {"}"}</strong
          ><br />
        </h5>
        <h4 class="heading-6">
          B1 + B2 + B3 + B4 + B5 + B6 = 1 {"{"} Level 3: fund the forest {"}"}
        </h4>
      </div>
      <div class="featureimagetext w-richtext">
        <h5 class="heading-6">
          Jurors randomly conduct <strong class="yellowtext">spot checks</strong
          > to answer
        </h5>
        <h5 class="heading-6">
          "Has A or B been more valuable to Ethereum's success?" Submissions get
          a higher score if they are more compatible with spot checks<br />
        </h5>
      </div>
    </div>
  </div>
</section>

