<section class="bg-cream border-2 border-yellow-bright p-20 relative">
  <div class="w-full max-w-[940px] mx-auto">
    <div
      class="flex flex-col items-start justify-start max-w-[750px] mx-auto text-center"
    >
      <img
        src="https://cdn.prod.website-files.com/679d72e9350c00c3788f7c0c/67aa1725a9eab3e972adbfb1_eiigj.svg"
        loading="lazy"
        alt=""
        class="w-full mb-5"
      />
      <div class="text-left text-text-medium font-offside text-base">
        <p class="font-offside mt-0 mb-2.5 text-lg leading-relaxed font-bold">
          The task of submitters is to give edge weights such that
        </p>
        <p class="font-offside mt-0 mb-2.5 text-lg leading-relaxed font-bold">
          A + B + C + D = 1 {"{"} Level 1: fund the farm {"}"}
        </p>
        <h5 class="font-offside mt-0 mb-2.5 text-lg leading-relaxed font-bold">
          B vs {"{"} B1,B2,B3,B4,B5,B6 {"}"}
          <strong class="text-orange"
            >{"{"} Level 2: farm to forest {"}"}</strong
          ><br />
        </h5>
        <h4 class="font-offside mt-0 mb-2.5 text-lg leading-relaxed font-bold">
          B1 + B2 + B3 + B4 + B5 + B6 = 1 {"{"} Level 3: fund the forest {"}"}
        </h4>
      </div>
      <div class="text-left text-text-medium font-offside text-base">
        <h5 class="font-offside mt-0 mb-2.5 text-lg leading-relaxed font-bold">
          Jurors randomly conduct <strong class="text-yellow-bright"
            >spot checks</strong
          > to answer
        </h5>
        <h5 class="font-offside mt-0 mb-2.5 text-lg leading-relaxed font-bold">
          "Has A or B been more valuable to Ethereum's success?" Submissions get
          a higher score if they are more compatible with spot checks<br />
        </h5>
      </div>
    </div>
  </div>
</section>
