---
// HowItWorks.astro
---

<div class="howdoesitwork">
  <div class="container">
    <section class="section-2">
      <h1 class="centered-heading">THE THREE COMPONENTS OF DEEP FUNDING</h1>
      <p class="howdoesitwork-description">
        The model(s) best aligning with jury spot checks distribute funds across
        the dependency graph.<br />
      </p>

      <div class="howdoesitwork-grid">
        <div
          id="w-node-b085c141-6e3f-10d2-1f66-2978311fb32c-788f7c17"
          class="component-card"
        >
          <img
            src="https://cdn.prod.website-files.com/679d72e9350c00c3788f7c0c/67a9c6f6b1e3d9f914920e32_Group%2045e.svg"
            loading="lazy"
            width="20"
            height="30"
            alt=""
            class="pricing-image"
          />
          <div class="div-block">
            <section class="section-3">
              <h3 class="cards">Dependency Graph</h3>
              <p class="pricing-card-text">
                <strong
                  >A data layer mapping all contributions to an ecosystem</strong
                >
              </p>
            </section>
          </div>
        </div>

        <div
          id="w-node-f18aaf4c-2078-dfb4-c6d5-f08569330b30-788f7c17"
          class="component-card"
        >
          <img
            src="https://cdn.prod.website-files.com/679d72e9350c00c3788f7c0c/67a9c704e0a467e94009e2c8_Group%2046e.svg"
            loading="lazy"
            width="20"
            height="30"
            alt=""
            class="pricing-image"
          />
          <div class="div-block">
            <section class="section-3">
              <h3 class="cards">Model Submissions</h3>
              <p class="pricing-card-text">
                <strong
                  >An open contest to crowdsource the relative value between
                  contributions</strong
                >
              </p>
            </section>
          </div>
        </div>

        <div
          id="w-node-_46944b5d-9f66-4b87-3738-3ecdc453d842-788f7c17"
          class="component-card"
        >
          <img
            src="https://cdn.prod.website-files.com/679d72e9350c00c3788f7c0c/67a9c71483b51d900fb47e66_Group%2048e.svg"
            loading="lazy"
            width="20"
            height="30"
            alt=""
            class="pricing-image"
          />
          <div class="div-block">
            <section class="section-3">
              <h3 class="cards">Spot Checkers</h3>
              <p class="pricing-card-text">
                <strong>A jury</strong> to express preferences on a randomly selected
                set of contributions
              </p>
            </section>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>

