<section class="testimonial-column-light">
  <div class="container-4">
    <h2 class="centered-heading-3">REWARDS WORTH $220k</h2>
    <div class="testimonial-grid-two">
      <div
        id="w-node-_89acfa2c-1bce-0af8-5137-2aaa4dbd6350-788f7c17"
        class="testimonial-card-two"
      >
        <h3 class="heading-4">
          <strong class="bold-text">$170k</strong>
        </h3>
        <p class="testimonial-text-two">
          to open source repos based on weights given by winning models
        </p>
      </div>
      <div
        id="w-node-_89acfa2c-1bce-0af8-5137-2aaa4dbd6356-788f7c17"
        class="testimonial-card-two"
      >
        <h3 class="heading-4">
          <strong>$50k</strong>
        </h3>
        <p class="testimonial-text-two">
          to winning models and knowledge sharing in the contest such as
          datasets, open source models &amp; other infra
        </p>
      </div>
    </div>
  </div>
</section>
