<section class="bg-[#454f57] py-16 px-8 md:py-20 md:px-8 relative">
  <div class="video-container">
    <div class="video-wrapper">
      <div
        style="padding-top:56.17021276595745%"
        class="responsive-video border-2 border-yellow"
      >
        <iframe
          class="absolute top-0 left-0 w-full h-full"
          src="//cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fwww.youtube.com%2Fembed%2FpZjAeBzk5Yg%3Ffeature%3Doembed&display_name=YouTube&url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DpZjAeBzk5Yg&image=https%3A%2F%2Fi.ytimg.com%2Fvi%2FpZjAeBzk5Yg%2Fhqdefault.jpg&type=text%2Fhtml&schema=youtube"
          width="940"
          height="528"
          scrolling="no"
          allowfullscreen=""
          title="How Does Deep Funding Work?"
        >
        </iframe>
      </div>
    </div>
  </div>
</section>
