---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Deep Funding - Resources">
  <section class="px-4 pt-16 pb-20 text-cream">
    <div class="max-w-[920px] mx-auto w-full break-words whitespace-normal">
      <h1 class="mb-[52px]">Resources</h1>
      <div class="mb-[40px]">
        <h2 class="mb-[10px]">The deep funding challenge‍</h2>
        <ul class="list-disc">
          <li>
            Dependency graph: <a href="https://tinyurl.com/deep-funding-graph"
              >https://tinyurl.com/deep-funding-graph‍</a
            >
          </li>
          <li>
            'How does Deep Funding work?': <a
              href="https://youtu.be/pZjAeBzk5Yg"
              >https://youtu.be/pZjAeBzk5Yg‍</a
            >
          </li>
          <li>
            Eval Science Primer Playlist on building models: <a
              href="https://youtube.com/playlist?list=PLNRTl6qsGZwKXYm7GTBzTtRWdmAKwHHx0&si=ZP6JH-0XrTncXVQ1"
              >https://youtube.com/playlist?list=PLNRTl6qsGZwKXYm7GTBzTtRWdmAKwHHx0&amp;si=ZP6JH-0XrTncXVQ1</a
            >
          </li>
        </ul>
      </div>

      <div>
        <h2>Similar Contests‍</h2>
        <p class="text-2xl mb-7">
          <em
            >A contest to predict funding to open source dependencies from past
            octant, gitcoin, optimism and open collective rounds‍</em
          >
        </p>
        <ul>
          <li>
            Dependency graph: <a href="https://tinyurl.com/deep-funding-graph"
              >https://tinyurl.com/deep-funding-graph‍</a
            >
          </li>
          <li>
            'How does Deep Funding work?': <a
              href="https://youtu.be/pZjAeBzk5Yg"
              >https://youtu.be/pZjAeBzk5Yg‍</a
            >
          </li>
          <li>
            Eval Science Primer Playlist on building models: <a
              href="https://youtube.com/playlist?list=PLNRTl6qsGZwKXYm7GTBzTtRWdmAKwHHx0&si=ZP6JH-0XrTncXVQ1"
              >https://youtube.com/playlist?list=PLNRTl6qsGZwKXYm7GTBzTtRWdmAKwHHx0&amp;si=ZP6JH-0XrTncXVQ1</a
            >
          </li>
        </ul>
      </div>
      <div>
        <h2>Introduction to Deep Funding</h2>
        <ul>
          <li>
            Vitalik's blog post: <a
              href="https://vitalik.eth.limo/general/2025/01/05/dacc2.html"
              >https://vitalik.eth.limo/general/2025/01/05/dacc2.html‍</a
            >
          </li>
          <li>
            Podcast with Vitalik: <a
              href="https://www.youtube.com/watch?v=ygaEBHYllPU"
              >https://www.youtube.com/watch?v=ygaEBHYllPU</a
            >
          </li>
        </ul>
      </div>
    </div>
  </section>
</Layout>
