<section id="challenge" class="challenge">
  <div class="section-container flex flex-col md:flex-row">
    <section class="max-w-full md:max-w-[50%] pr-0 md:pr-5 mb-10 md:mb-0">
      <h2
        class="font-stencil text-cream text-[4rem] font-bold mb-4 leading-[4rem] mt-0"
      >
        THE DEEP FUNDING CHALLENGE
      </h2>
      <div class="text-cream font-offside text-2xl leading-8 max-w-[90%] pl-0">
        <p class="text-xl leading-[30px]">
          Give weights to source repos such that their summation to the target
          repo = 1
        </p>
        <p class="mt-10 text-[1.7rem] leading-[1.7rem] font-bold">
          End Goal: Submit 15,000 weights to the Ethereum dependency graph
        </p>
      </div>
    </section>

    <div class="flex-1">
      <div class="grid grid-cols-1 gap-12">
        <div class="bg-cream border-2 border-yellow p-5">
          <section class="section-3">
            <h3 class="text-2xl font-offside text-primary mb-[10px]">
              Level 1:&nbsp;Fund the Farm
            </h3>
          </section>
          <p class="font-offside mb-2.5">Seed Node vs Seed Node</p>
          <p class="font-offside mb-2.5">
            Develop an allocator model assigning weights to 34 source repos
            (seed nodes) with the target repo of Ethereum<br />
          </p>
        </div>

        <div class="bg-cream border-2 border-yellow p-5">
          <h3 class="text-2xl font-offside text-primary mb-[10px]">
            Level 2:&nbsp;Farm to Forest
          </h3>
          <p class="font-offside mb-2.5">Seed Node vs Child Node</p>
          <p class="font-offside mb-2.5">
            Develop an allocator model determining the portion of funds staying
            with seed nodes vs passed on to dependencies<br />
          </p>
        </div>

        <div class="bg-cream border-2 border-yellow p-5">
          <h3 class="text-2xl font-offside text-primary mb-[10px]">
            Level 3: Fund the Forest
          </h3>

          <p class="font-offside mb-2.5">Child Node vs Child Node</p>
          <p class="font-offside mb-2.5">
            Develop an allocator model assigning weights to over 5000
            dependencies (child nodes) with the target repo of 34 seed nodes<br
            />
          </p>
        </div>
      </div>

      <h2 class="font-stencil text-cream !leading-none text-[32px] mt-10 mb-4">
        Submissions: Feb 10 - May 10, 2025
      </h2>
      <div class="font-offside text-cream text-sm">
        All jury selection is by nomination, invitation or application only. See
        the list of jurors <a
          href="https://research.allo.capital/t/join-the-deep-funding-jury/99"
          >here</a
        >.
      </div>
    </div>
  </div>
</section>
