<section class="cta">
  <div class="container flex justify-center">
    <a href="https://t.me/AgentAllocators/1" class="no-underline">
      <h2
        class="text-center text-[#333] font-stencil ctatext text-[64px] leading-[100%]"
      >
        JOIN US ON TELEGRAM
      </h2>
    </a>
  </div>
</section>

<style>
  .cta {
    background-image: linear-gradient(#f5ff67, #f5ff67);
    padding: 56px 30px;
    position: relative;
  }
</style>
