<section class="bg-cream border-2 border-yellow py-16 px-8 md:p-20 relative">
  <div class="section-container">
    <div
      class="flex flex-col items-start justify-start max-w-[750px] mx-auto text-center !text-[20px] !leading-[28px]"
    >
      <img
        src="/images/home/formula-diagram.svg"
        loading="lazy"
        alt="Formula diagram"
        class="w-full mb-5 hover-lift"
      />

      <!-- Formula explanations -->
      <div class="w-full font-offside text-text-medium text-left space-y-2">
        <p class="heading-offside leading-relaxed">
          The task of submitters is to give edge weights such that
        </p>
        <p class="heading-offside leading-relaxed">
          A + B + C + D = 1 {"{"} Level 1: fund the farm {"}"}
        </p>
        <h5 class="heading-offside font-bold leading-relaxed">
          B vs {"{"} B1,B2,B3,B4,B5,B6 {"}"}
          <strong class="text-orange"
            >{"{"} Level 2: farm to forest {"}"}</strong
          >
        </h5>
        <h4 class="heading-offside font-bold leading-relaxed">
          B1 + B2 + B3 + B4 + B5 + B6 = 1 {"{"} Level 3: fund the forest {"}"}
        </h4>
      </div>

      <!-- Explanation text -->
      <div
        class="w-full font-offside text-text-medium text-left mt-6 space-y-2"
      >
        <h5 class="heading-offside font-bold leading-relaxed">
          Jurors randomly conduct <strong class="bg-spot-gradient px-0.5"
            >spot checks</strong
          > to answer
        </h5>
        <h5 class="heading-offside font-bold leading-relaxed">
          "Has A or B been more valuable to Ethereum's success?" Submissions get
          a higher score if they are more compatible with spot checks
        </h5>
      </div>
    </div>
  </div>
</section>
