<section class="testimonial-gradient py-16">
  <div class="container mx-auto px-4">
    <h2
      class="text-cream font-stencil text-[64px] leading-[72px] font-bold mb-10"
    >
      REWARDS WORTH $220k
    </h2>
    <div
      class="grid grid-cols-1 md:grid-cols-2 gap-6 max-w-4xl mx-auto text-[#333]"
    >
      <div class="bg-yellow border-2 border-yellow px-4 py-8">
        <h3 class="mt-[20px] text-5xl font-stencil font-bold mb-4">$170k</h3>
        <p class="mt-[20px] leading-[1rem]">
          to open source repos based on weights given by winning models
        </p>
      </div>
      <div class="bg-yellow border-2 border-yellow px-4 py-8">
        <h3 class="mt-[20px] text-5xl font-stencil font-bold mb-4">$50k</h3>
        <p class="mt-[20px] leading-[1rem]">
          to winning models and knowledge sharing in the contest such as
          datasets, open source models &amp; other infra
        </p>
      </div>
    </div>
  </div>
</section>
