<section class="bg-[#454f57] py-16 px-8 md:py-20 md:px-8 relative">
  <div>
    <div class="max-w-[750px] mx-auto">
      <div
        style="padding-top:56.17021276595745%"
        class="relative w-full border-2 border-yellow"
      >
        <iframe
          class="absolute top-0 left-0 w-full h-full"
          src="https://www.youtube.com/embed/pZjAeBzk5Yg?si=t7q4AqU-2bofSUeJ"
          width="940"
          height="528"
          scrolling="no"
          allowfullscreen=""
          title="How Does Deep Funding Work?"
        >
        </iframe>
      </div>
    </div>
  </div>
</section>
