---
import Layout from "../layouts/Layout.astro";
import FAQAccordion from "../components/FAQAccordion";
---

<Layout title="DeepFunding - FAQ">
  <section class="py-12 text-cream mx-auto w-full max-w-[940px]">
    <div class="w-full">
      <div class="mx-auto">
        <FAQAccordion client:load />
      </div>
    </div>
  </section>
</Layout>
